{% extends 'app/main_html/base.html' %}
{% load static %}
{% block body_main %}
    <div class="main-container col2-right-layout">
        <div class="main container">
            <div class="row">
                <div class="col-main col-sm-9 wow bounceInUp animated">
                    <div class="page-title">
                        <h2>Blog number {{ blog.id }}</h2>
                    </div>
                    <div class="blog-wrapper" id="main">
                        <div class="site-content" id="primary">
                            <div role="main" id="content">
                                <article class="blog_entry clearfix">
                                    <header class="blog_entry-header clearfix">
                                        <div class="blog_entry-header-inner">
                                            <h2 class="blog_entry-title"> {{ blog.title }}</h2>
                                        </div>
                                        <!--blog_entry-header-inner-->
                                    </header>
                                    <!--blog_entry-header clearfix-->
                                    <div class="entry-content">
                                        <div class="featured-thumb"><a href="#"><img alt="blog-img4"
                                                                                     src="{{ blog.image.url }}"></a>
                                        </div>
                                        <div class="entry-content">
                                            <h1>{{ blog.description }}</h1>
                                            <p></p>
                                            <blockquote>{{ blog.quick_overview }}
                                            </blockquote>
                                            <p></p>
                                        </div>
                                    </div>
                                    <footer class="entry-meta"> This blog was posted in <a rel="category tag"
                                                                                           title="View all posts in First Category"
                                                                                           href="#first-category">{{ blog.category }}</a>
                                        On
                                        <time datetime="2014-07-10T06:53:43+00:00"
                                              class="entry-date">{{ blog.created_at }}
                                        </time>
                                    </footer>
                                </article>
                                <div class="comment-content wow bounceInUp animated">
                                    <div class="comments-wrapper">
                                        <h3> Comments </h3>
                                        <ul class="commentlist">
                                            <li class="comment">
                                            </li>
                                            <!--comment-->
                                            <li class="comment">
                                                <div class="comment-wrapper">
                                                    <div class="comment-author vcard"> <span
                                                            class="author">{{ comments.body }}</span></div>
                                                    <!--comment-author vcard-->
                                                    <div class="comment-meta">
                                                        <time datetime="2014-07-10T07:28:32+00:00"
                                                              class="entry-date">
                                                            {{ comments.created_at }}
                                                        </time>

                                                    </div>
                                                    <!--comment-meta-->
                                                    <div class="comment-body"> {{ Comments.body }}
                                                    </div>
                                                </div>
                                            </li>
                                            <!--comment-->
                                        </ul>
                                    </div>
                                    <!--comments-wrapper-->
                                    <br>
                                    <br>
                                    <br>
                                    <form method="post" action="{% url 'add_comment' %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <button class="btn btn-primary d-block w-100 mt-3" type="submit"
                                                    name="submit">
                                                Add comment
                                            </button>
                                        </div>
                                    </form>
                                    <br>
                                    <!--comments-form-wrapper clearfix-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-right sidebar col-sm-3 wow bounceInUp animated">
                    <div role="complementary" class="widget_wrapper13" id="secondary">
                        <div class="popular-posts widget widget__sidebar wow bounceInUp animated" id="recent-posts-4">
                            <h3 class="widget-title">Most Popular Post</h3>
                            <div class="widget-content">
                                {% for i in all_blogs %}
                                    <ul class="posts-list unstyled clearfix">
                                        <figure class="featured-thumb"><a href="{% url 'blog_details_page' i.id %}">
                                            <img width="80"
                                                 height="53"
                                                 alt="blog image"
                                                 src="{% static 'app/images/blog-img1.jpg' %}">
                                        </a></figure>
                                        <!--featured-thumb-->
                                        <h4><a title="Pellentesque habitant morbi"
                                               href="{% url 'blog_details_page' i.id %}">{{ i.title }}</a></h4>
                                        <p class="post-meta"><i class="icon-calendar"></i>
                                            <time datetime="2014-07-10T06:53:43+00:00" class="entry-date">
                                                {{ i.created_at }}
                                            </time>
                                            .
                                        </p>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                            <!--widget-content-->
                        </div>
                        <div class="popular-posts widget widget_categories" id="categories-2">
                            <h3 class="widget-title">Categories</h3>
                            <ul>
                                {% for i in blog_category %}
                                    <li class="cat-item cat-item-19599"><a href="#">{{ i.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Banner Ad Block -->
                        <div class="ad-spots widget widget__sidebar">
                            <h3 class="widget-title">POLO</h3>
                            <div class="widget-content"><a target="_self" href="{% url 'index' %}" title=""><img
                                    alt="offer banner"
                                    src="{% static 'app/images/polo-08.jpg' %}"></a>
                            </div>
                        </div>
                        <!-- Banner Text Block -->
                        <div class="text-widget widget widget__sidebar">
                            <h3 class="widget-title">About polo shop </h3>
                            <div class="widget-content">“Home for me has always been a place of warmth and security and
                                enjoying simple moments with my family. During these times of uncertainty, I’m thinking
                                of you and wanted to share some of the things that I love, that lift our spirits, that
                                keep us connected, that give us hope—that make us happy. Welcome to POLO at Home.”
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}