{% extends 'app/main_html/base.html' %}
{% load static %}
{% block body_main %}
    <section class="main-container col1-layout">
        <div class="main container">
            <div class="col-main">
                <div class="cart wow bounceInUp animated">
                    <div class="page-title">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <div class="panel-group accordion-faq" id="faq-accordion">
                        <div class="panel">
                            <div class="panel-heading"><a data-toggle="collapse" data-parent="#faq-accordion"
                                                          href="#question1"> <span class="arrow-down">+</span> <span
                                    class="arrow-up">&#8211;</span> Lorem ipsum dolor sit amet, consectetuer adipiscing
                                elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet, nunc. Ut sit
                                amet turpis. In est arcu, sollicitudin eu, vehicula venenatis, tempor vitae, est. </a>
                            </div>
                            <div id="question1" class="panel-collapse collapse in">
                                <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum
                                    eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis
                                    rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum
                                    malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem.
                                    Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis.
                                    Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum
                                    pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt.
                                    Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim
                                    sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum
                                    ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna,
                                    dictum et, pulvinar non, ultricies ac, nibh.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><a data-toggle="collapse" data-parent="#faq-accordion"
                                                          href="#question3" class="collapsed"> <span class="arrow-down">+</span>
                                <span class="arrow-up">&#8211;</span> Nulla porttitor tortor at nisl. Nam lectus nulla,
                                bibendum pretium, dictum a, mattis nec, dolor.</a></div>
                            <div id="question3" class="panel-collapse collapse">
                                <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum
                                    eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis
                                    rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum
                                    malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem.
                                    Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis.
                                    Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum
                                    pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt.
                                    Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim
                                    sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum
                                    ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna,
                                    dictum et, pulvinar non, ultricies ac, nibh.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><a data-toggle="collapse" data-parent="#faq-accordion"
                                                          href="#question2" class="collapsed"> <span class="arrow-down">+</span>
                                <span class="arrow-up">&#8211;</span> Sed semper tortor. Cras condimentum, odio sed
                                molestie molestie, enim urna vehicula magna, eu venenatis velit nunc eget justo.</a>
                            </div>
                            <div id="question2" class="panel-collapse collapse">
                                <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum
                                    eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis
                                    rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum
                                    malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem.
                                    Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis.
                                    Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum
                                    pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt.
                                    Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim
                                    sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum
                                    ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna,
                                    dictum et, pulvinar non, ultricies ac, nibh.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><a data-toggle="collapse" data-parent="#faq-accordion"
                                                          href="#question5" class="collapsed"> <span class="arrow-down">+</span>
                                <span class="arrow-up">&#8211;</span> Curabitur convallis facilisis lorem. Vivamus
                                euismod nulla vel nunc. Fusce tincidunt, justo congue egestas molestie, tortor
                                tortor.</a></div>
                            <div id="question5" class="panel-collapse collapse">
                                <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum
                                    eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis
                                    rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum
                                    malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem.
                                    Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis.
                                    Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum
                                    pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt.
                                    Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim
                                    sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum
                                    ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna,
                                    dictum et, pulvinar non, ultricies ac, nibh.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><a data-toggle="collapse" data-parent="#faq-accordion"
                                                          href="#question4" class="collapsed"> <span class="arrow-down">+</span>
                                <span class="arrow-up">&#8211;</span> Cras pellentesque. Fusce ullamcorper, pede eget
                                pellentesque venenatis, felis magna nonummy eros, quis ultrices odio lorem quis urna.
                                Mauris sem sapien, mollis vel.</a></div>
                            <div id="question4" class="panel-collapse collapse">
                                <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum
                                    eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis
                                    rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum
                                    malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem.
                                    Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis.
                                    Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum
                                    pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt.
                                    Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim
                                    sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum
                                    ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna,
                                    dictum et, pulvinar non, ultricies ac, nibh.
                                </div>
                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading"><a data-toggle="collapse" data-parent="#faq-accordion"
                                                          href="#question6" class="collapsed"> <span class="arrow-down">+</span>
                                <span class="arrow-up">&#8211;</span> Lorem ipsum dolor sit amet, consectetuer
                                adipiscing elit. Donec eros tellus, scelerisque nec, rhoncus eget, laoreet sit amet,
                                nunc vel ultrices enim sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec,
                                eleifend at, fermentum ut, turpis. </a></div>
                            <div id="question6" class="panel-collapse collapse">
                                <div class="panel-body"> Vestibulum justo. Nulla mauris ipsum, convallis ut, vestibulum
                                    eu, tincidunt vel, nisi. Curabitur molestie euismod erat. Proin eros odio, mattis
                                    rutrum, pulvinar et, egestas vitae, magna. Integer semper, velit ut interdum
                                    malesuada, diam dolor pellentesque lacus, vitae commodo orci nisi et sem.
                                    Pellentesque adipiscing nisi. Nulla facilisi. Mauris lacinia lectus sit amet felis.
                                    Aliquam erat volutpat. Nulla porttitor tortor at nisl. Nam lectus nulla, bibendum
                                    pretium, dictum a, mattis nec, dolor. Nullam id justo sed diam aliquam tincidunt.
                                    Duis sollicitudin, dui ac commodo iaculis, mi risus sagittis odio, vel ultrices enim
                                    sem ut pede. Aenean quam. Nulla neque purus, ullamcorper nec, eleifend at, fermentum
                                    ut, turpis. Mauris et ligula quis erat dignissim imperdiet. Integer ligula magna,
                                    dictum et, pulvinar non, ultricies ac, nibh.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}