{% extends 'app/auth/base.html' %}
{% load static %}


{% block body_main %}

    <div id="hideShow">
        <div id="step1">
            <div class="search-section">
                <div class="container">
                    <div class="row">
                        <div class="search-box">
                            <form action="#catalogsearch/result/" method="get">
                                <input autocomplete="off" name="q" value="Search entire store here..." class="searchbox"
                                       maxlength="128" type="text">
                                <button type="submit" title="Search" class="button-common search-btn-bg"><span
                                        class="searchIconNew"></span></button>
                                <div id="search_autocomplete" class="search-autocomplete"></div>
                            </form>
                            <div class="cross-icon"><a href="javascript:void(0)" id="hideDiv"><img
                                    src="{% static 'app/images/img_1.png' %}" alt="close"></a></div>
                        </div>
                        <!--search-box-->
                    </div>
                </div>
            </div>
        </div>

        <!--#step1-->
    </div>
    <!--#hideShow-->

    <!-- Home Slider Block -->
    <section class="main-container col1-layout">
        <div class="main container">
            <div class="col-main">
                <div class="cart wow bounceInUp animated">
                    <div class="page-title">
                        <h2>Compare Products</h2>
                    </div>
                    <div class="table-responsive">
                        {% for i in all_b %}
                        <table class="table table-striped compare-table">
                            <tbody>
                            <tr class="product-shop-row first odd">
                                <th>&nbsp;</th>
                                <td><a href="#" class="btn-cancel icon-remove" title="Remove This Item"></a> <a
                                        class="product-image" href="#" title="Azrouel Dress"><img
                                        src="{% static 'app/products-images/product1.jpg' %}" alt="Azrouel Dress" width="200"></a>
                                    <h2 class="product-name"><a href="#" title="Azrouel Dress">33</a></h2>
                                    <div class="price-box">
                                        <p class="special-price"><span class="price"> $45.00 </span></p>
                                        <p class="old-price"><span class="price-sep">-</span> <span class="price"> $50.00 </span>
                                        </p>
                                    </div>
                                    <p>
                                        <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span>
                                        </button>
                                    </p>
                                    <a href="{% url 'my_wishlist_page' %}" class="btn-cart">Add to Wishlist</a></td>
                                <td><a href="#" class="btn-cancel icon-remove" title="Remove This Item"></a><a
                                        class="product-image" href="#"
                                        title="Blue Lagoon polka-dot chiffon and lace thong"><img
                                        src="{% static 'app/products-images/product1.jpg' %}" alt="Azrouel Dress" width="200"></a>
                                    <h2 class="product-name"><a href="#"
                                                                title="Blue Lagoon polka-dot chiffon and lace thong">Sample
                                        Product</a></h2>
                                    <div class="price-box"><span class="regular-price"> <span
                                            class="price">$50.00</span> </span></div>
                                    <p>
                                        <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span>
                                        </button>
                                    </p>
                                    <a href="{% url 'my_wishlist_page' %}" class="btn-cart">Add to Wishlist</a></td>
                            </tr>
                            </tbody>
                        </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}