 {% extends 'app/auth/base.html' %}
{% load static %}
{% block body_main %}
  <div class="main-container col2-left-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 col-sm-push-3 wow bounceInUp animated">
          <div class="category-description std">
            <div class="category-image"><img src="{% static 'app/images/women_banner.png' %}" alt="cat imges " title="Sofas "> </div>
          </div>
          <div class="category-title">
            <h1>Tops &amp; Tees</h1>
          </div>
          <div class="category-products">
            <div class="toolbar">
              <div class="sorter">
                <div class="view-mode"> <a href="{% url 'product_list' %}" title="Grid" class="button button-grid">Grid</a>&nbsp; <span title="List" class="button button-active button-list">List</span>&nbsp; </div>
              </div>
              <div id="sort-by">
                <label class="left">Sort By: </label>
                <ul>
                  <li><a href="#">Position<span class="right-arrow"></span></a>
                    <ul>
                      <li><a href="#">Name</a></li>
                      <li><a href="#">Price</a></li>
                      <li><a href="#">Position</a></li>
                    </ul>
                  </li>
                </ul>
                <a class="button-asc left" href="#" title="Set Descending Direction"><span class="glyphicon glyphicon-arrow-up"></span></a> </div>
              <div class="pager">
                <div id="limiter">
                  <label>View: </label>
                  <ul>
                    <li><a href="#">15<span class="right-arrow"></span></a>
                      <ul>
                        <li><a href="#">20</a></li>
                        <li><a href="#">30</a></li>
                        <li><a href="#">35</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="pages">
                  <label>Page:</label>
                  <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <ol id="products-list" class="products-list">
              <li class="item odd">
                <div class="product-image"> <a href="#" title="HTC Rhyme Sense"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="HTC Rhyme Sense" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box">
                    <p class="old-price"> <span class="price-label"></span> <span id="old-price-212" class="price"> $442.99 </span> </p>
                    <p class="special-price"> <span class="price-label"></span> <span id="product-price-212" class="price"> $222.99 </span> </p>
                  </div>
                  <div class="ratings">
                    <div class="rating-box">
                      <div class="rating"></div>
                    </div>
                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#review-form">Add Your Review</a> </p>
                  </div>
                  <div class="desc std">
                    <p>Sed volutpat ac massa eget
                      lacinia.
                      Aenean volutpat lacus at dolor blandit </p>
                    <p>Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                      tincidunt mi. Vivamus dictum nec... <a class="link-learn" title="" href="#">Learn More</a> </p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item even">
                <div class="product-image"> <a href="#microsoft-natural-ergonomic-keyboard-4000.html" title="Microsoft Natural Keyboard"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="Microsoft Natural Keyboard" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-159"> <span class="price">$99.99</span> </span> </div>
                  <div class="desc std">
                    <p>Sed volutpat ac massa eget
                      lacinia. Suspendisse non purus semper, tellus vel, tristique urna.
                      Aenean volutpat lacus at dolor blandit. </p>
                    <p>Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                      tincidunt mi. Vivamus dignissimm ... <a class="link-learn" title="" href="#">Learn More</a></p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item odd">
                <div class="product-image"> <a href="#30-flat-panel-tft-lcd-cinema-hd-monitor.html" title="30&quot; Flat-Panel HD Monitor"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="30&quot; Flat-Panel HD Monitor" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-157"> <span class="price">$699.99</span> </span> </div>
                  <div class="desc std">Computer games, digital photo
                    editing and graphic applications will astound you on this huge 30"
                    flat-panel monitor.
                    <p>Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                      tincidunt mi. </p>
                    <p>Phasellus consequat id purus in convallis. Nulla quis... <a class="link-learn" title="" href="#">Learn More</a></p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item even">
                <div class="product-image"> <a href="#19-widescreen-flat-panel-lcd-monitor.html" title="19&quot; Widescreen LCD Monitor"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="19&quot; Widescreen LCD Monitor" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-156"> <span class="price">$399.99</span> </span> </div>
                  <div class="desc std">2 ms response time; 10,000:1 contrast ratio; 300 cd/m² brightness; 1440 x 900 maximum resolution; DVI-D and 15-pin D-sub inputs
                    <p>Phasellus consequat id purus
                      pretium enimnec, tristique... <a class="link-learn" title="" href="#">Learn More</a> </p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item odd">
                <div class="product-image"> <a href="#250gb-5400rpm.html" title="Seagate 250GB HD "> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="Seagate 250GB HD " width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-155"> <span class="price">$99.00</span> </span> </div>
                  <div class="desc std">1 TB - 7200RPM, SATA 3.0Gb/s, 32MB Cache
                    <p>Maecenas vehicula volutpat elit, in interdum lacus faucibus sit amet. </p>
                    <p>Sed sed interdum diam. Donec sit ametenim tempor, dapibus nunc eu,
                      tincidunt mi. Vivamus dignissim nisl. Donec eget feugiat ante.
                      Integerarcu libero, dictum nec congue sed, faucibus ... <a class="link-learn" title="" href="#">Learn More</a> </p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item even">
                <div class="product-image"> <a href="#500gb-5400rpm.html" title="Seagate 500GB HD"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="Seagate 500GB HD" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-154"> <span class="price">$299<span class="sub">.00</span></span> </span> </div>
                  <div class="desc std">1 TB - 7200RPM, SATA 3.0Gb/s, 32MB Cache
                    <p>Aenean volutpat lacus at dolor blandit,
                      vitae lobortisante semper. Ut
                      bibendum metusfringilla, in interdum lacus faucibus sit amet. </p>
                    <p> Donec eget feugiat ante.
                      Integerarcu libero... <a class="link-learn" title="" href="#">Learn More</a> </p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item odd">
                <div class="product-image"> <a href="#intel-core-2-extreme-qx9775-3-20ghz-retail.html" title="Intel Core 2 Extreme QX9775"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="Intel Core 2 Extreme QX9775" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-153"> <span class="price">$2,049.99</span> </span> </div>
                  <div class="desc std">Intel Core 2 Extreme QX9775
                    Processor BX80574QX9775 - 45nm, 3.20GHz, 12MB Cache, 1600MHz FSB,
                    <p>Vivamus dignissim nisl eu euismod ullamcorper. Donec
                      pellentesque diam id est tristique vestibulum. Donec eget feugiat ante.
                      Integerarcu libero, dictum nec congue sed, faucibus sit amet lectus. </p>
                    <p>Phasellus consequat... <a class="link-learn" title="" href="#">Learn More</a> </p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item even">
                <div class="product-image"> <a href="#24-widescreen-flat-panel-lcd-monitor.html" title="24&quot; Widescreen LCD Monitor"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="24&quot; Widescreen LCD Monitor" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-152"> <span class="price">$699.99</span> </span> </div>
                  <div class="desc std">5 ms response time; 10,000:1 contrast ratio; 400 cd/m² brightness; 1920 x 1200 maximum resolution; DVI-D and 15-pin D-sub inputs
                    <p> tellus vel, tristique urna. </p>
                    <p>Phasellus consequat id purus in convallis. Nulla quis nunc auctor,
                      pretium enimnec, tristique magna... <a class="link-learn" title="" href="#">Learn More</a> </p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item odd">
                <div class="product-image"> <a href="#microsoft-wireless-optical-mouse-5004.html" title="Logitech Optical Trackman"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="Logitech Optical Trackman" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-160"> <span class="price">$79.99</span> </span> </div>
                  <div class="desc std">Our most advanced trackball yet.

                    Save space and eliminate desktop clutter.
                    <p>Donec eget feugiat ante.
                      Integerarcu libero, dictum nec congue sed, faucibus sit amet lectus. </p>
                    <p>Vivamus vitae arcu faucibus, dictum
                      magna vel, adipiscing... <a class="link-learn" title="" href="#">Learn More</a> </p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
              <li class="item last even">
                <div class="product-image"> <a href="#" title="Logitech diNovo Edge Keyboard"> <img class="small-image" src="{% static 'app/imagesproducts-/product1.jpg' %}" alt="Logitech diNovo Edge Keyboard" width="230"> </a> </div>
                <div class="product-shop">
                  <h2 class="product-name"><a title=" Sample Product" href="{% url 'product_detail' %}"> Sample Product </a></h2>
                  <div class="price-box"> <span class="regular-price" id="product-price-161"> <span class="price">$239.99</span> </span> </div>
                  <div class="ratings">
                    <div class="rating-box">
                      <div class="rating"></div>
                    </div>
                    <p class="rating-links"> <a href="#">1 Review(s)</a> <span class="separator">|</span> <a href="#review-form">Add Your Review</a> </p>
                  </div>
                  <div class="desc std">Li-Ion powered.
                    <p>Sed volutpat ac massa eget lacinia. Suspendisse non purus semper,
                      vitae lobortisante semper. </p>
                    <p>Integerarcu libero, dictum nec congue sed, faucibus sit... <a class="link-learn" title="" href="#">Learn More</a> </p>
                  </div>
                  <div class="actions">
                    <button class="button btn-cart ajx-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                    <span class="add-to-links"> <a title="Add to Wishlist" class="button link-wishlist" href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a title="Add to Compare" class="button link-compare" href="{% url 'compare_page' %}"><span>Add to Compare</span></a> </span> </div>
                </div>
              </li>
            </ol>
          </div>
        </section>
        <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated">
          <div class="side-nav-categories">
            <div class="block-title"> Categories </div>
            <!--block-title-->
            <!-- BEGIN BOX-CATEGORY -->
            <div class="box-content box-category">
              <ul>
                <li class="active"> <a  href="{% url 'product_list' %}">Women</a> <span class="subDropdown minus"></span>
                  <ul class="level0_415">
                    <li> <a href="{% url 'product_list' %}"> Tops </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Evening Tops </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Shirts &amp; Blouses </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Tunics </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Vests </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Bags </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Bags </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Designer Handbags </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Purses </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Shoulder Bags </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Shoes </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Flat Shoes </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Flat Sandals </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Boots </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Heels </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Jewellery </a>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Bracelets </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Necklaces &amp; Pendants </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Pins &amp; Brooches </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Dresses </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Casual Dresses </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Evening </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Designer </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Party </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Lingerie </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Bras </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Bodies </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Lingerie Sets </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Shapewear </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Jackets </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Coats </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Jackets </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Leather Jackets </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Blazers </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Swimwear </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Swimsuits </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Beach Clothing </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Bikinis </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                  </ul>
                  <!--level0-->
                </li>
                <!--level 0-->
                <li> <a href="{% url 'product_list' %}">Men</a> <span class="subDropdown plus"></span>
                  <ul class="level0_455">
                    <li> <a href="{% url 'product_list' %}"> Shoes </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Flat Shoes </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Boots </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Heels </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Jewellery </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Bracelets </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Necklaces &amp; Pendants </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Pins &amp; Brooches </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Dresses </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Casual Dresses </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Evening </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Designer </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Party </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Jackets </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Coats </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Jackets </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Leather Jackets </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Blazers </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Swimwear </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Swimsuits </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Beach Clothing </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                  </ul>
                  <!--level0-->
                </li>
                <!--level 0-->
                <li> <a href="{% url 'product_list' %}">Electronics</a> <span class="subDropdown plus"></span>
                  <ul class="level0_482">
                    <li> <a href="{% url 'product_list' %}"> Smartphones </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list'%}"> Samsung </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Apple </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Blackberry </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Nokia </a> </li>
                        <li> <a href="{% url 'product_list' %}"> HTC </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Cameras </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> Digital Cameras </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Camcorders </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Lenses </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Filters </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Tripod </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                    <li> <a href="{% url 'product_list' %}"> Accesories </a> <span class="subDropdown plus"></span>
                      <ul class="level1">
                        <li> <a href="{% url 'product_list' %}"> HeadSets </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Batteries </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Screen Protectors </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Memory Cards </a> </li>
                        <li> <a href="{% url 'product_list' %}"> Cases </a> </li>
                        <!--end for-each -->
                      </ul>
                      <!--level1-->
                    </li>
                    <!--level1-->
                  </ul>
                  <!--level0-->
                </li>
                <!--level 0-->
                <li> <a href="{% url 'product_list' %}">Digital</a> </li>
                <!--level 0-->
                <li class="last"> <a href="{% url 'product_list' %}">Fashion</a> </li>
                <!--level 0-->
              </ul>
            </div>
            <!--box-content box-category-->
          </div>
          <div class="block block-layered-nav">
            <div class="block-title">Shop By</div>
            <div class="block-content">
              <p class="block-subtitle">Shopping Options</p>
              <dl id="narrow-by-list">
                <dt class="odd">Price</dt>
                <dd class="odd">
                  <ol>
                    <li> <a href="#"><span class="price">$0.00</span> - <span class="price">$99.99</span></a> (6) </li>
                    <li> <a href="#"><span class="price">$100.00</span> and above</a> (6) </li>
                  </ol>
                </dd>
                <dt class="even">Manufacturer</dt>
                <dd class="even">
                  <ol>
                    <li> <a href="#">TheBrand</a> (9) </li>
                    <li> <a href="#">Company</a> (4) </li>
                    <li> <a href="#">LogoFashion</a> (1) </li>
                  </ol>
                </dd>
                <dt class="odd">Color</dt>
                <dd class="odd">
                  <ol>
                    <li> <a href="#">Green</a> (1) </li>
                    <li> <a href="#">White</a> (5) </li>
                    <li> <a href="#">Black</a> (5) </li>
                    <li> <a href="#">Gray</a> (4) </li>
                    <li> <a href="#">Dark Gray</a> (3) </li>
                    <li> <a href="#">Blue</a> (1) </li>
                  </ol>
                </dd>
                <dt class="last even">Size</dt>
                <dd class="last even">
                  <ol>
                    <li> <a href="#">S</a> (6) </li>
                    <li> <a href="#">M</a> (6) </li>
                    <li> <a href="#">L</a> (4) </li>
                    <li> <a href="#">XL</a> (4) </li>
                  </ol>
                </dd>
              </dl>
            </div>
          </div>
          <div class="block block-cart">
            <div class="block-title ">My Cart</div>
            <div class="block-content">
              <div class="summary">
                <p class="amount">There are <a href="#">2 items</a> in your cart.</p>
                <p class="subtotal"> <span class="label">Cart Subtotal:</span> <span class="price">$27.99</span> </p>
              </div>
              <div class="ajax-checkout">
                <button type="submit" title="Submit" class="button button-checkout"><span>Checkout</span></button>
              </div>
              <p class="block-subtitle">Recently added item(s) </p>
              <ul>
                <li class="item"> <a class="product-image" title="Fisher-Price Bubble Mower" href="#"><img width="80" alt="Fisher-Price Bubble Mower" src="{% static 'app/imagesproducts-/product1.jpg' %}"></a>
                  <div class="product-details">
                    <div class="access"> <a class="btn-remove1" title="Remove This Item" href="#"> <span class="icon"></span> Remove </a> </div>
                    <p class="product-name"> <a href="#">Skater Dress In Leaf Print Grouped Product</a> </p>
                    <strong>1</strong> x <span class="price">$19.99</span> </div>
                </li>
                <li class="item last"> <a class="product-image" title="Prince Lionheart Jumbo Toy Hammock" href="#"><img width="80" alt="Prince Lionheart Jumbo Toy Hammock" src="{% static 'app/imagesproducts-/product1.jpg' %}"></a>
                  <div class="product-details">
                    <div class="access"> <a class="btn-remove1" title="Remove This Item" href="#"> <span class="icon"></span> Remove </a> </div>
                    <p class="product-name"> <a href="#"> Sample Fashion Product Prince Lionheart </a> </p>
                    <strong>1</strong> x <span class="price">$8.00</span>
                    <!--access clearfix-->
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="block block-compare">
            <div class="block-title ">Compare Products (2)</div>
            <div class="block-content">
              <ol id="compare-items">
                <li class="item odd">
                  <input type="hidden" class="compare-item-id" value="2173">
                  <a href="#" title="Remove This Item" class="btn-remove1"></a> <a class="product-name" href="#"> Sofa with Box-Edge Polyester Wrapped Cushions</a> </li>
                <li class="item last even">
                  <input type="hidden" class="compare-item-id" value="2174">
                  <a href="#" title="Remove This Item" class="btn-remove1"></a> <a class="product-name" href="#"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a> </li>
              </ol>
              <div class="ajax-checkout">
                <button class="button button-compare" title="Submit" type="submit"><span>Compare</span></button>
                <button class="button button-clear" title="Submit" type="submit"><span>Clear</span></button>
              </div>
            </div>
          </div>
          <div class="block block-list block-viewed">
            <div class="block-title"> Recently Viewed </div>
            <div class="block-content">
              <ol id="recently-viewed-items">
                <li class="item odd">
                  <p class="product-name"><a href="#"> Armchair with Box-Edge Upholstered Arm</a></p>
                </li>
                <li class="item even">
                  <p class="product-name"><a href="#"> Pearce Upholstered Slee pere</a></p>
                </li>
                <li class="item last odd">
                  <p class="product-name"><a href="#"> Sofa with Box-Edge Down-Blend Wrapped Cushions</a></p>
                </li>
              </ol>
            </div>
          </div>
          <div class="block block-poll">
            <div class="block-title">Community Poll </div>
            <form onsubmit="return validatePollAnswerIsSelected();" method="post" action="#" id="pollForm">
              <div class="block-content">
                <p class="block-subtitle">What is your favorite Magento feature?</p>
                <ul id="poll-answers">
                  <li class="odd">
                    <input type="radio" value="5" id="vote_5" class="radio poll_vote" name="vote">
                    <span class="label">
                    <label for="vote_5">Layered Navigation</label>
                    </span> </li>
                  <li class="even">
                    <input type="radio" value="6" id="vote_6" class="radio poll_vote" name="vote">
                    <span class="label">
                    <label for="vote_6">Price Rules</label>
                    </span> </li>
                  <li class="odd">
                    <input type="radio" value="7" id="vote_7" class="radio poll_vote" name="vote">
                    <span class="label">
                    <label for="vote_7">Category Management</label>
                    </span> </li>
                  <li class="last even">
                    <input type="radio" value="8" id="vote_8" class="radio poll_vote" name="vote">
                    <span class="label">
                    <label for="vote_8">Compare Products</label>
                    </span> </li>
                </ul>
                <div class="actions">
                  <button class="button button-vote" title="Vote" type="submit"><span>Vote</span></button>
                </div>
              </div>
            </form>
          </div>

          <div class="block block-banner"><a href="#"><img src="{% static 'app/images/rhs-banner.jpg' %}" alt="block-banner"></a></div>
        </aside>
      </div>
    </div>
  </div>
 {% endblock %}