{% extends 'app/main_html/base.html' %}
{% load static %}
{% block body_main %}
    <div class="magik-slideshow wow bounceInUp animated" id="magik-slideshow">
        <div class="container">
            <div class="row">
                <div class="LHS-nav col-lg-3 col-md-4">
                    <div id="magik-verticalmenu" class="block magik-verticalmenu">
                        <div class="nav-title"><span>Categories</span></div>
                        <div class="nav-content">
                            <div class="navbar navbar-inverse">
                                <div id="verticalmenu" class="verticalmenu" role="navigation">
                                    <div class="navbar">
                                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                                            <ul class="nav navbar-nav verticalmenu">
                                                {% for i in Categorys %}
                                                    {% if not i.parent_id %}
                                                        <li class=" parent dropdown "><a href="{% url 'product_list' %}"
                                                                                         class="dropdown-toggle"
                                                                                         data-toggle="dropdown"><span
                                                                class="menu-title">{{ i.name }}</span><b
                                                                class="round-arrow"></b></a>
                                                            <div class="dropdown-menu">
                                                                <div class="dropdown-menu-inner">
                                                                    <div class="row">
                                                                        {% for x in Categorys %}
                                                                            {% if x.parent_id == i.id %}
                                                                                <div class="mega-col col-sm-66"
                                                                                     data-widgets="wid-5"
                                                                                     data-colwidth="6">
                                                                                    <div class="mega-col-inner">
                                                                                        <div class="ves-widget">
                                                                                            <div class="menu-title">
                                                                                                {{ x.name }}
                                                                                            </div>
                                                                                            <div class="widget-html">
                                                                                                <div class="widget-inner">
                                                                                                    <ul>
                                                                                                        {% for y in Categorys %}
                                                                                                            {% if x.id == y.parent_id %}
                                                                                                                <li>
                                                                                                                    <a
                                                                                                                            href="{% url 'index' %}">
                                                                                                                        <span>{{ y.name }}</span>
                                                                                                                    </a>
                                                                                                                </li>
                                                                                                            {% endif %}
                                                                                                        {% endfor %}

                                                                                                    </ul>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}

                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-8">
                    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container'>
                        <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
                            <ul>
                                <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                                    data-thumb='{% static 'app/images/polo-08.jpg' %}'><img
                                        src='{% static 'app/images/main_polo.jpg' %}'
                                        data-bgposition='left top'
                                        data-bgfit='cover'
                                        data-bgrepeat='no-repeat' alt="banner"/>
                                    <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='45' data-y='30'
                                         data-endspeed='500' data-speed='500' data-start='1100'
                                         data-easing='Linear.easeNone' data-splitin='none' data-splitout='none'
                                         data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:2; white-space:nowrap;'>Exclusive of designer
                                    </div>
                                    <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='45' data-y='70'
                                         data-endspeed='500' data-speed='500' data-start='1300'
                                         data-easing='Linear.easeNone' data-splitin='none' data-splitout='none'
                                         data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:3; white-space:nowrap;'>Handbags & Purses
                                    </div>
                                    <div class='tp-caption sfb  tp-resizeme ' data-x='45' data-y='360'
                                         data-endspeed='500'
                                         data-speed='500' data-start='1500' data-easing='Linear.easeNone'
                                         data-splitin='none' data-splitout='none' data-elementdelay='0.1'
                                         data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#'
                                                                                                              class="view-more">View
                                        More</a> <a href='#' class="buy-btn">Buy Now</a></div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-x='45' data-y='130'
                                         data-endspeed='500' data-speed='500' data-start='1500'
                                         data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none'
                                         data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:4; white-space:nowrap;'>In augue urna, nunc, tincidunt,
                                        augue,<br>
                                        augue facilisis facilisis.
                                    </div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-x='45' data-y='400'
                                         data-endspeed='500' data-speed='500' data-start='1500'
                                         data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none'
                                         data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:4; white-space:nowrap;font-size:11px'>Lorem ipsum dolor sit
                                        amet,
                                        consectetur adipiscing elit.
                                    </div>
                                </li>
                                <li data-transition='random' data-slotamount='7' data-masterspeed='1000'
                                    data-thumb='{% static 'app/images/home.jpg' %}' class="black-text"><img
                                        src='{% static 'app/images/home.jpg' %}'
                                        data-bgposition='left top'
                                        data-bgfit='cover'
                                        data-bgrepeat='no-repeat'
                                        alt="banner"/>
                                    <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='45' data-y='30'
                                         data-endspeed='500' data-speed='500' data-start='1100'
                                         data-easing='Linear.easeNone' data-splitin='none' data-splitout='none'
                                         data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:2; white-space:nowrap;'>Super Hot
                                    </div>
                                    <div class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='45' data-y='70'
                                         data-endspeed='500' data-speed='500' data-start='1300'
                                         data-easing='Linear.easeNone' data-splitin='none' data-splitout='none'
                                         data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:3; white-space:nowrap;'>Go Lightly
                                    </div>
                                    <div class='tp-caption sfb  tp-resizeme ' data-x='45' data-y='360'
                                         data-endspeed='500'
                                         data-speed='500' data-start='1500' data-easing='Linear.easeNone'
                                         data-splitin='none' data-splitout='none' data-elementdelay='0.1'
                                         data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='#'
                                                                                                              class="view-more">View
                                        More</a> <a href='#' class="buy-btn">Buy Now</a></div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-x='45' data-y='130'
                                         data-endspeed='500' data-speed='500' data-start='1500'
                                         data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none'
                                         data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:4; white-space:nowrap;'>In augue urna, nunc, tincidunt,
                                        augue,<br>
                                        augue facilisis facilisis.
                                    </div>
                                    <div class='tp-caption Title sft  tp-resizeme ' data-x='45' data-y='400'
                                         data-endspeed='500' data-speed='500' data-start='1500'
                                         data-easing='Power2.easeInOut' data-splitin='none' data-splitout='none'
                                         data-elementdelay='0.1' data-endelementdelay='0.1'
                                         style='z-index:4; white-space:nowrap;font-size:11px'>Lorem ipsum dolor sit
                                        amet,
                                        consectetur adipiscing elit.
                                    </div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>

                </div>
                <aside class="col-xs-12 col-sm-12 col-md-3">
                    <div class="RHS-banner">
                        <div class="add"><a href="#"><img alt="banner-img"
                                                          src="{% static 'app/images/polo-08.jpg' %}"></a></div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <!-- header service -->

    <div class="container">
        <div class="header-service wow bounceInUp animated">
            <div class="col-lg-3 col-sm-6 col-xs-3">
                <div class="content">
                    <div class="icon-truck">&nbsp;</div>
                    <span class="hidden-xs"><strong>FREE SHIPPING</strong> on order over $99</span></div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-3">
                <div class="content">
                    <div class="icon-support">&nbsp;</div>
                    <span class="hidden-xs"><strong>Customer Support</strong> Service</span></div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-3">
                <div class="content">
                    <div class="icon-money">&nbsp;</div>
                    <span class="hidden-xs">3 days <strong>Money Back</strong> Guarantee</span></div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-3">
                <div class="content">
                    <div class="icon-dis">&nbsp;</div>
                    <span class="hidden-xs"><strong>5% discount</strong> on order over $199</span></div>
            </div>
        </div>
    </div>
    <!-- end header service -->
    <div class="offer-banner-section wow bounceInUp animated">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12 col-sm-4 wow bounceInLeft animated animated"><a href="#"><img
                        src="{% static 'app/images/pollo.jpg' %}" alt="offer banner1"></a></div>
                <div class="col-lg-4 col-xs-12 col-sm-4 wow bounceInUp animated animated"><a href="#"><img
                        src="{% static 'app/images/pollo1.jpg' %}" alt="offer banner2"></a></div>
                <div class="col-lg-4 col-xs-12 col-sm-4 wow bounceInRight animated animated"><a href="#"><img
                        src="{% static 'app/images/p.jpg' %}" alt="offer banner3"></a></div>
            </div>
        </div>
    </div>
    <section class="main-container col1-layout home-content-container">
        <div class="container">
            <div class="std">
                <div class="best-seller-pro wow bounceInUp animated">
                    <div class="slider-items-products">
                        <div class="new_title center">
                            <h2>New products</h2>
                        </div>
                        <div id="best-seller-slider" class="product-flexslider hidden-buttons">
                            <div class="slider-items slider-col2">
                                {% for product in Products %}
                                    <!-- Item -->
                                    <div class="item">
                                        <div class="col-item">
                                            <div class="sale-label sale-top-right"> New</div>
                                            <div class="product-image-area"><a class="product-image"
                                                                               title="{{ product.title }}"
                                                                               href="{% url 'product_detail_with_id' product.id %}">
                                                <img
                                                        src="{{ product.image.url }}"
                                                        class="img-responsive"
                                                        alt="product-image"/> </a>
                                                <div class="hover_fly"><a class="exclusive ajax_add_to_cart_button"
                                                                          href="#"
                                                                          title="Add to cart">
                                                    <div><i class="icon-shopping-cart"></i><span>Add to cart</span>
                                                    </div>
                                                </a> <a class="quick-view" href="{% url 'quick_view_product' %}">
                                                    <div><i class="icon-eye-open"></i><span>Quick view</span></div>
                                                </a> <a class="add_to_compare" href="{% url 'compare_page' %}">
                                                    <div><i class="icon-random"></i><span>Add to compare</span></div>
                                                </a> <a class="addToWishlist wishlistProd_5"
                                                        href="{% url 'my_wishlist_page' %}">
                                                    <div><i class="icon-heart"></i><span>Add to Wishlist</span></div>
                                                </a></div>
                                            </div>
                                            <div class="info">
                                                <div class="info-inner">
                                                    <div class="item-title"><a title="{{ product.title }}"
                                                                               href="{% url 'product_detail_with_id' product.id %}"> {{ product.title }}</a>
                                                    </div>
                                                    <!--item-title-->
                                                    <div class="item-content">
                                                        <div class="ratings">
                                                            <div class="rating-box">
                                                                <div class="rating"></div>
                                                            </div>
                                                        </div>

                                                        <div class="price-box">
                                                            <p class="special-price"><span
                                                                    class="price">{{ product.price }} </span></p>
                                                            <p class="old-price"><span class="price-sep">-</span> <span
                                                                    class="price">{{ product.discount }}</span></p>
                                                        </div>
                                                    </div>
                                                    <!--item-content-->
                                                </div>
                                                <!--info-inner-->

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Item -->
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End main container -->

    <!-- offer banner section -->

    <div class="offer-banner-section wow bounceInUp animated">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12 col-sm-4"><a href="#"><img alt="offer banner1"
                                                                          src="{% static 'app/images/polo-08.jpg' %}"></a>
                    <div class="overlay"><a class="info" href="#">Learn More</a></div>
                </div>
                <div class="col-lg-4 col-xs-12 col-sm-4"><a href="#"><img alt="offer banner2"
                                                                          src="{% static 'app/images/polo-08.jpg' %}"></a>
                    <div class="overlay"><a class="info" href="#">Learn More</a></div>
                </div>
                <div class="col-lg-4 col-xs-12 col-sm-4"><a href="#"><img alt="offer banner3"
                                                                          src="{% static 'app/images/polo-08.jpg' %}"></a>
                    <div class="overlay"><a class="info" href="#">Learn More</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- end offer banner section -->


    <!-- End Featured Slider -->
    <!-- promo banner section -->
    <div class="promo-banner-section container wow bounceInUp animated">
        <div class="row">
            <div class="col-lg-12"><img alt="promo-banner3" src="{% static 'app/images/jewelry-banner.jpg' %}"></div>
        </div>
    </div>
    <!-- End promo banner section -->
    <!-- middle slider -->
    <section class="middle-slider container wow bounceInUp animated">
        <div class="row">
            {% for i in Categorys %}
                {% if i.level == 1 %}
                    <div class="col-md-6">
                        <div class="bag-product-slider small-pr-slider cat-section">
                            <div class="slider-items-products">
                                <div class="new_title center">
                                    <h2>{{ i.name }}</h2>
                                </div>
                                {% for x in Products %}
                                    {% if i.id == x.category_id %}
                                        <div id="bag-seller-slider" class="product-flexslider hidden-buttons">
                                            <div class="slider-items slider-width-col3">
                                                <div class="item">
                                                    <div class="col-item">
                                                        <div class="product-image-area"><a class="product-image"
                                                                                           title="{{ x.name }}"
                                                                                           href="{% url 'product_detail_with_id' x.id %}">
                                                            <img
                                                                    src="{{ x.image.url }}"
                                                                    class="img-responsive" alt="a"/> </a>
                                                            <div class="actions-links"><span class="add-to-links"> <a
                                                                    title="magik-btn-quickview"
                                                                    class="magik-btn-quickview"
                                                                    href="{% url 'quick_view_product' %}"><span>quickview</span></a> <a
                                                                    title="Add to Wishlist" class="link-wishlist"
                                                                    href="{% url 'my_wishlist_page' %}"><span>Add to Wishlist</span></a> <a
                                                                    title="Add to Compare" class="link-compare"
                                                                    href="{% url 'compare_page' %}"><span>Add to Compare</span></a></span>
                                                            </div>
                                                        </div>
                                                        <div class="info">
                                                            <div class="info-inner">
                                                                <div class="item-title"><a title=" {{ product.title }}"
                                                                                           href="{% url 'product_detail_with_id' x.id %}">
                                                                    {{ x.title }}</a>
                                                                </div>
                                                                <div class="item-content">
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating"></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="price-box">
                                                                        <p class="special-price"><span
                                                                                class="price"> ${{ x.price }} </span>
                                                                        </p>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="actions">
                                                                <button type="button" title="Add to Cart"
                                                                        class="button btn-cart">
                                                                    <span>Add to Cart</span>
                                                                </button>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Item -->


                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </section>
    <!-- End middle slider -->

    <!-- Latest Blog -->
    <section class="latest-blog container wow bounceInUp animated">
        <div class="blog-title">
            <h2><span> Blogs</span></h2>
        </div>
        <div class="col-xs-12 col-sm-4">
            {% for blog in Blogs %}
                <div class="blog-img"><img src="{{ blog.image.url }}" alt="Image">
                    <div class="mask"><a class="info" href="{% url 'blog_details_page' blog.id %}">Read More</a></div>
                </div>
                <h2><a href="{% url 'blog_details_page' blog.id %}">{{ blog.title }}</a></h2>
                <div class="post-date"><i class="icon-calendar"></i>{{ blog.created_at }}</div>
                <p>{{ blog.quick_overview }}</p>
            {% endfor %}
        </div>
    </section>
    <!-- End Latest Blog -->

{% endblock %}
