{% extends 'app/auth/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'app/assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'app/assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app/assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'app/assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'app/assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'app/assets/js/config.js' %}"></script>
    <script src="{% static 'app/vendors/overlayscrollbars/OverlayScrollbars.min.js' %}"></script>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'app/vendors/overlayscrollbars/OverlayScrollbars.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
    <link href="{% static 'app/assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'app/assets/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'app/assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <script>
        var isRTL = JSON.parse(localStorage.getItem('isRTL'));
        if (isRTL) {
            var linkDefault = document.getElementById('style-default');
            var userLinkDefault = document.getElementById('user-style-default');
            linkDefault.setAttribute('disabled', true);
            userLinkDefault.setAttribute('disabled', true);
            document.querySelector('html').setAttribute('dir', 'rtl');
        } else {
            var linkRTL = document.getElementById('style-rtl');
            var userLinkRTL = document.getElementById('user-style-rtl');
            linkRTL.setAttribute('disabled', true);
            userLinkRTL.setAttribute('disabled', true);
        }
    </script>
</head>

{% block body_main %}
    <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
        <div class="container-fluid">
            <div class="row min-vh-100 flex-center g-0">

                <div class="card overflow-hidden z-index-1">
                    <div class="card-body p-0">
                        <div class="row g-0 h-100">
                            <div class="col-md-4 col-md-offset-4 d-flex flex-center">
                                <div class="p-4 p-md-5 flex-grow-1">
                                    <div class="position-relative mt-4" style="color : RED">
                                        <p>
                                            {% if messages %}
                                                {% for message in messages %}
                                                    <p>{{ message }}</p>
                                                {% endfor %}
                                            {% endif %}

                                        {% if form.errors %}
                                            <p>{{ form.errors }}</p>
                                        {% endif %}
                                        </p>
                                    </div>
                                    <h3>Register</h3>
                                    <form method="post" action="{% url 'register_page' %}">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <label class="form-label" for="card-name">Name</label>
                                            <input class="form-control" type="text" name="username" autocomplete="on"
                                                   id="card-name"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="card-email">Email address</label>
                                            <input class="form-control" type="email" name="email" autocomplete="on"
                                                   id="card-email"/>
                                        </div>
                                        <div class="row gx-2">
                                            <div class="mb-3 col-sm-6">
                                                <label class="form-label" for="card-password">Password</label>
                                                <input class="form-control" name="password" type="password"
                                                       autocomplete="on"
                                                       id="card-password"/>
                                            </div>
                                            <div class="mb-3 col-sm-6">
                                                <label class="form-label" for="card-confirm-password">Confirm
                                                    Password</label>
                                                <input class="form-control" name="confirm_password" type="password"
                                                       autocomplete="on"
                                                       id="card-confirm-password"/>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                   id="card-register-checkbox"/>
                                            <label class="form-label" for="card-register-checkbox">I accept the <a
                                                    href="#!">terms </a>and <a href="#!">privacy policy</a></label>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary d-block w-100 mt-3" type="submit"
                                                    name="submit">
                                                Register
                                            </button>
                                        </div>
                                    </form>
                                    <div class="position-relative mt-4">
                                        <hr class="bg-300"/>
                                        <div class="divider-content-center">or register with</div>
                                    </div>
                                    <div class="row g-2 mt-2">
                                        <div class="col-sm-6"><a
                                                class="btn btn-outline-google-plus btn-sm d-block w-100"
                                                href="#"><span class="fab fa-google-plus-g me-2"
                                                               data-fa-transform="grow-8"></span>
                                            google</a></div>
                                        <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100"
                                                                 href="#"><span class="fab fa-facebook-square me-2"
                                                                                data-fa-transform="grow-8"></span>
                                            facebook</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'app/vendors/popper/popper.min.js' %}"></script>
    <script src="{% static 'app/vendors/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/vendors/anchorjs/anchor.min.js' %}"></script>
    <script src="{% static 'app/vendors/is/is.min.js' %}"></script>
    <script src="{% static 'app/vendors/fontawesome/all.min.js' %}"></script>
    <script src="{% static 'app/vendors/lodash/lodash.min.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{% static 'app/vendors/list.js/list.min.js' %}"></script>
    <script src="{% static 'app/assets/js/theme.js' %}"></script>

    </body>
{% endblock %}


</html>